body {
  margin: 0px;
  padding: 0px;
  font-family: "Asap", sans-serif;
  color: #595959;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  margin-bottom: 30px;
}

#sidemenubar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  background-color: #404040;
}
#sidemenubar #top {
  padding: 20px;
  display: flex;
  color: white;
  background-color: #b3b3b3;
}
#sidemenubar #top img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
#sidemenubar #top h2 {
  margin: 0px;
}
#sidemenubar #top span {
  font-size: 0.88em;
}
#sidemenubar ul {
  padding-left: 0px;
  margin: 0px;
}
#sidemenubar ul li {
  list-style: none;
}
#sidemenubar ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: white;
}

#logo {
  text-align: center;
  padding: 50px 0px 20px 0px;
}
#logo img {
  width: 30%;
}
#logo h1 {
  margin-top: 5px;
  color: #B36676;
}

#bottom {
  text-align: center;
}
#bottom form {
  text-align: center;
}
#bottom form input {
  width: 65%;
  border-radius: 40px;
  padding: 15px 30px;
  background-color: #B36676;
  margin-bottom: 30px;
  border: none;
  color: white;
  font-size: 0.99em;
  outline: none;
}
#bottom form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.6;
  /* Firefox */
}
#bottom form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  opacity: 0.6;
}
#bottom form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  opacity: 0.6;
}
#bottom form hr {
  width: 10%;
  border: 2px solid #B36676;
  border-radius: 5px;
  margin: 30px auto;
}
#bottom button {
  display: block;
  width: 75%;
  border-radius: 40px;
  padding: 15px 30px;
  margin: 10px auto;
  color: #555555;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
#bottom button#login {
  background-color: #FFC4D1;
  font-size: 0.98em;
  border: none;
  box-shadow: 0px 0px 5px #FFABBD;
}
#bottom button#facebook-login {
  background: none;
  border: 2px solid #FFC4D1;
  font-size: 0.65em;
  display: flex;
  justify-content: space-between;
}
#bottom button#facebook-login * {
  display: block;
}
#bottom button#register {
  background-color: white;
}
#bottom button#register:hover {
  background-color: #cccccc;
}

div#navigation {
  position: fixed;
  z-index: 99999999999999;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
div#navigation div#box {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px -3px 8px #cccccc;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  bottom: -302px;
}
div#navigation div#box div#navbar {
  height: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
div#navigation div#box div#navbar div#navbar-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 45px;
  color: #B36676;
}
div#navigation div#box div#navbar div#navbar-content div#icones a {
  color: #B36676;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}
div#navigation div#box div#navbar div#navbar-content div#icones a:nth-child(1) {
  margin-right: 35px;
}
div#navigation div#box div#navbar div#navbar-content div#signal a {
  text-decoration: none;
  color: #B36676;
  font-size: 1.1em;
  font-weight: bolder;
  display: inline-block;
  margin-right: 20px;
  padding-top: 5px;
}
div#navigation div#box div#navbar div#photo {
  width: 40px;
  height: 40px;
  padding: 6px;
  box-shadow: 0px 0px 5px #808080;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: -75px auto 0px auto;
}
div#navigation div#box div#navbar div#photo img {
  width: 100%;
}
div#navigation div#box div#informations {
  text-align: center;
  padding: 30px;
}
div#navigation div#box div#informations h2 {
  margin: 8px auto 0px auto;
  color: #B36676;
  font-weight: bold;
}
div#navigation div#box div#informations span#ville {
  font-size: 0.75em;
}
div#navigation div#box div#informations div#description {
  margin: 40px 0px;
}
div#navigation div#box div#informations div#horizontal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
div#navigation div#box div#informations div#horizontal > div {
  width: 30%;
}
div#navigation div#box div#informations div#horizontal > div:nth-child(2) {
  border: 2px solid #b3b3b3;
  border-top: none;
  border-bottom: none;
}
div#navigation div#box div#informations div#horizontal p {
  margin: 0px;
  font-weight: bold;
}
div#navigation div#box div#informations div#horizontal p#hville {
  font-size: 1.2em;
  padding-top: 5px;
}

#core {
  margin-top: -30px;
}
#core #contacts {
  padding: 30px 20px;
}
#core #contacts input#recherche {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #bfbfbf;
  font-size: 1.1em;
  width: 85%;
}
#core #contacts .contact {
  box-shadow: 0px 3px 0px #dddddd;
  margin-bottom: 20px;
  display: flex;
  padding: 10px 20px;
}
#core #contacts .contact h4 {
  margin: 0px;
  margin-bottom: 5px;
}
#core #contacts .contact span {
  font-size: 0.85em;
}
#core #contacts .contact img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
#core #contacts a {
  text-decoration: none;
  color: #595959;
}

header #title p {
  color: #B36676;
  font-size: 20px;
}

#map {
  height: 240px;
}

#core {
  text-align: center;
  z-index: 999999999999;
  position: relative;
}
#core #img-rounded {
  padding: 25px;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -80px;
}
#core #img-rounded img {
  width: 100%;
  height: 100%;
}
#core #blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
#core #blocks .block {
  box-shadow: 0px 3px 5px #dddddd;
  width: 30%;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 20px;
}
#core #blocks .block i {
  background-color: #B2D6A9;
  color: #55B363;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#core #blocks .block span {
  display: block;
}
#core #blocks .block span.label {
  font-weight: bold;
}
#core #blocks .block span.value {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
}
#core #blocks .block:nth-child(1), #core #blocks .block:nth-child(3) {
  margin-right: 15px;
}

#blocksmap {
  width: 90%;
  margin-left: 5%;
  background-color: white;
  position: absolute;
  bottom: 90px;
  z-index: 99999;
  box-shadow: 0px 0px 10px #808080;
  border-radius: 5px;
}
#blocksmap .innerBlock {
  padding: 20px;
  position: relative;
}
#blocksmap .innerBlock div#arrows {
  position: absolute;
  right: 10px;
  top: 50%;
}
#blocksmap .innerBlock ul {
  padding-left: 0px;
  margin: 0px;
  margin-bottom: -20px;
  position: relative;
}
#blocksmap .innerBlock ul::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #bcbcbc;
  top: 30px;
  left: -8px;
}
#blocksmap .innerBlock ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
  position: relative;
}
#blocksmap .innerBlock ul li::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: -10px;
  background-color: #999999;
  top: 12px;
  border-radius: 50%;
  z-index: 1;
}
#blocksmap .innerBlock ul li::after:nth-child(2) {
  background-color: red;
}
#blocksmap .innerBlock ul li input {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 10px;
  outline: none;
  width: 85%;
  font-size: 1em;
  color: #565656;
}
#blocksmap .innerBlock ul li input:nth-child(1) {
  margin-bottom: 30px;
}
#blocksmap .innerBlock:nth-child(1) {
  border-bottom: 1px solid #cccccc;
}
#blocksmap .innerBlock:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
#blocksmap .innerBlock:nth-child(2) .info {
  width: 48%;
}
#blocksmap .innerBlock:nth-child(2) .info h5 {
  margin-top: 0px;
}

/*# sourceMappingURL=safewalk.css.map */
