body {
    margin: 0px;
    padding: 0px;
    font-family: 'Asap', sans-serif;
    color: #595959;
    position: relative;

    header {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
        margin-bottom: 30px;
    }
}

