#blocksmap {
    width: 90%;
    margin-left: 5%;
    background-color: white;
    position: absolute;
    bottom: 90px;
    z-index:99999;
    box-shadow: 0px 0px 10px #808080;
    border-radius: 5px;

    .innerBlock {
        padding: 20px;
        position: relative;

        div#arrows {
            position: absolute;
            right: 10px;
            top: 50%;
        }

        ul {
            padding-left: 0px;
            margin: 0px;
            margin-bottom: -20px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 30px;
                background-color: #bcbcbc;
                top: 30px;
                left: -8px;
            }

            li {
                list-style: none;
                display: inline-block;
                width: 100%;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    left: -10px;
                    background-color: #999999;
                    top: 12px;
                    border-radius: 50%;
                    z-index: 1;

                    &:nth-child(2) {
                        background-color: red;
                    }
                }

                input {
                    display: inline-block;
                    border: none;
                    border-bottom: 1px solid #f2f2f2;
                    padding: 5px 10px;
                    outline: none;
                    width: 85%;
                    font-size: 1em;
                    color: #565656;

                    &:nth-child(1) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        &:nth-child(1) {
            border-bottom: 1px solid #cccccc;
        }

        &:nth-child(2) {
            display: flex;
            justify-content: space-between;

            .info {
                width: 48%;

                h5 {
                    margin-top: 0px;
                }
            }
        }
    }
}